<aside class="main-sidebar elevation-4 sidebar-dark-orange fondo">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
   
  
    <p class="text-center">SISTEMA CAMI</p>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
     <div class="imagen-nav mt-3 pb-3 mb-3 d-flex">
 
          <img src="assets/img/camilogo.png"  class="img-circle elevation-3" width="200px">
     
    
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar nav-legacy nav-dark flex-column" data-widget="treeview" role="menu" data-accordion="false">
      
        <li  class="nav-item color-texto">
          <a href="usuarios"  class="nav-link">
            <i class="nav-icon fas fa-users color-texto"></i>
       
            <p class="color-texto">
              Usuarios
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="roles"  class="nav-link  ">
            <i class="nav-icon fas fa-user-tag color-texto"></i>
       
            <p class="color-texto">
              Roles
            </p>
          </a>
        </li>
        <li  class="nav-item color-texto">
          <a href="marcas"  class="nav-link color-texto">
            <i class="nav-icon fa fa-building color-texto"></i>
            <p class="color-texto">
              Marcas
            </p>
          </a>
        </li>


        <li  class="nav-item color-texto">
          <a href="categorias"  class="nav-link color-texto">
       
            <i class="nav-icon fa fa-object-group color-texto"></i>
            <p class="color-texto">
              Categoria
            </p>
          </a>
        </li>

        <li  class="nav-item color-texto">
          <a href="productos"  class="nav-link color-texto">
            <i class="nav-icon fas fa-cut color-texto"></i>
            <p class="color-texto">
              Productos
            </p>
          </a>
        </li>

       
        <li  class="nav-item color-texto">
          <a href="ingresos"  class="nav-link color-texto">
            <i class="nav-icon fa fa-truck color-texto"></i>
            <p class="color-texto">
              Ingresos
            </p>
          </a>
        </li>

   

   
   
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
